section{
	border: 1px solid black;
	overflow: auto;
	display: block;
	margin: 40px;
}

div{
	width: 200px;
	height: 200px;
}

.yellow{
	background: yellow;
}

.blue{
	background: blue;
}

.red{
	background: red;
}
#left *{
	float: left;
}

#rigth *{
	float: right;
}